@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.1684 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1684 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1684 0 0);
  --primary: oklch(0.1684 0 0);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9612 0 0);
  --secondary-foreground: oklch(0.1684 0 0);
  --muted: oklch(0.9612 0 0);
  --muted-foreground: oklch(0.4891 0 0);
  --accent: oklch(0.9612 0 0);
  --accent-foreground: oklch(0.1684 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.997 0 0);
  --border: oklch(0.8669 0 0);
  --input: oklch(0.9612 0 0);
  --ring: oklch(0.1684 0 0);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
  --chart-1: oklch(0.628 0.2577 29.2339);
  --chart-2: oklch(0.7208 0.1632 239.2912);
  --chart-3: oklch(0.7395 0.2268 142.8504);
  --chart-4: oklch(0.7505 0.1791 58.2827);
  --chart-5: oklch(0.5655 0.2741 306.393);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.1684 0 0);
  --sidebar-primary: oklch(0.9612 0 0);
  --sidebar-primary-foreground: oklch(0.1684 0 0);
  --sidebar-accent: oklch(0.9612 0 0);
  --sidebar-accent-foreground: oklch(0.1684 0 0);
  --sidebar-border: oklch(0.8669 0 0);
  --sidebar-ring: oklch(0.1684 0 0);
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 2px 5px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 5px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 5px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0px 2px 5px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 2px 5px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 2px 5px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 2px 5px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 2px 5px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(1 0 0);
  --card: oklch(0.2178 0 0);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.2768 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(1 0 0);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.3092 0 0);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.3092 0 0);
  --muted-foreground: oklch(0.738 0 0);
  --accent: oklch(0.3092 0 0);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.997 0 0);
  --border: oklch(0.4202 0 0);
  --input: oklch(0.3092 0 0);
  --ring: oklch(1 0 0);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
  --chart-1: oklch(0.628 0.2577 29.2339);
  --chart-2: oklch(0.7208 0.1632 239.2912);
  --chart-3: oklch(0.7395 0.2268 142.8504);
  --chart-4: oklch(0.7505 0.1791 58.2827);
  --chart-5: oklch(0.5655 0.2741 306.393);
  --sidebar: oklch(0.2178 0 0);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.3092 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.3092 0 0);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.4202 0 0);
  --sidebar-ring: oklch(1 0 0);
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 3px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: #000000;
  --shadow-2xs: 0px 3px 8px 0px hsl(0 0% 0% / 0.1);
  --shadow-xs: 0px 3px 8px 0px hsl(0 0% 0% / 0.1);
  --shadow-sm: 0px 3px 8px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow: 0px 3px 8px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow-md: 0px 3px 8px 0px hsl(0 0% 0% / 0.2), 0px 2px 4px -1px hsl(0 0% 0% / 0.2);
  --shadow-lg: 0px 3px 8px 0px hsl(0 0% 0% / 0.2), 0px 4px 6px -1px hsl(0 0% 0% / 0.2);
  --shadow-xl: 0px 3px 8px 0px hsl(0 0% 0% / 0.2), 0px 8px 10px -1px hsl(0 0% 0% / 0.2);
  --shadow-2xl: 0px 3px 8px 0px hsl(0 0% 0% / 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border font-sans outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
